 footer {
     overflow: hidden; 
     position: fixed; 
     bottom: 0; 
    width: 100%;
    justify-content: center; 
    padding-left: 30%;
    padding-right: 30%; 
    padding: 10%;
}  



 .content { 
     height: 0%;
    /* background-color: grey;  */
    display: block;
} 


 #contact-links a { 
     flex: auto; 
     display: flex; 
     justify-content: center;
    text-align: center;
    display: block;
    position: relative; 
    border-radius: 20%;
    padding: 20px;
    margin: 20px;
} 

