h2 {
    text-align: center;
    font-size: xx-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card {
  background-size: cover;
  background-position: center;
  background-clip: content-box;
  border: 6px solid white;
  height: 400px;
  width: 400px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  position: relative;
  margin: 0 auto;
  margin-top: 30px;
}

.gitImg {
     width: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image {
     width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card-body{
text-align: center;
}

.card-text{
text-align: center;
}

@media screen and (max-width: 792px) {
    .card {
        flex-basis: 98%;
        margin: 1%;
    }
}